/* background-navbar */
.container-fluid {
  padding: 0;
  color: white;
}

/* Navbar - Inicio */
.navbar {
  margin-bottom: 20px;
}

.container-fluid .container-fluid {
  padding: 0;
  background-color: #004aad;
  color: white;
}

.nav-link {
  /* background-color: #004aad; */
  color: white;
}

.navbar-nav {
  margin: auto;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  color: #333;
  letter-spacing: 1px;
}

/* conversas.html */
#contats-block {
  background-color: rebeccapurple;
  width: 30%;
  height: 100%;
}
